/* COMMON STYLES */
* {
  font-family: 'Poiret One', cursive;
}

h3 {
  color: rgba(150,150,150, 1);
  font-size: 2rem;
}

button {
  background: transparent;
  border: 2px solid rgba(150,150,150, 1);
  padding: 0.5em 1em;
  width: calc(80% + 0.2em);
  margin: 1em 0;
  letter-spacing: 0.1em;
}

button i {
  font-size: 1.2rem;
  margin: auto 0;
}

.contentContainer {
  margin: 1.5em 0;
  padding: 1em;
}

.text {
  margin: 1em 0;
}

.bolded {
  font-size: 1.5rem;
  font-weight: 600;
}

/* HEADERCAROUSEL STYLES */
.headerCarousel {
  width: 100%;
  height: 50vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.headerCarousel img {
  width: 100%;
  height: 350px;
}

.headerCarousel .fa-arrow-alt-circle-right {
  position: absolute;
  top: 50%;
  right: 0.5em;
  color: rgba(180,180,180, 1);
  font-size: 2rem;
}

.headerCarousel .fa-arrow-alt-circle-left {
  position: absolute;
  top: 50%;
  left: 0.5em;
  color: rgba(180,180,180, 1);
  font-size: 2rem;
}

.headerCarousel .activeCircles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.headerCarousel .activeCircles .circle {
  border: 2px solid rgba(180,180,180, 1);
  border-radius: 360px;
  height: 30px;
  width: 30px;
  margin: 0 0.5em;
}

.headerCarousel .activeCircles .circle .innerCircle {
  border: 2px solid rgba(180,180,180, 1);
  background: rgba(180,180,180, 1);
  border-radius: 360px;;
  width: 80%;
  height: 80%;
  margin: 0.1em auto auto auto;
}

.headerCarousel .carouselHeadline {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(180,180,180, 1);
  letter-spacing: 0.1em;
}

/* HEADLINEANDTEXT STYLES */ 
.headlineAndText {
  color: rgba(150,150,150, 1);
  
}
/* IMAGEANDTEXT STYLES */
.imageAndText {
  width: 100%;
}

.imageAndText img {
  height: 300px;
  width: 100%;
}

/* SCROLLSUITS STYLES */ 
.scrollSuits {
  height: 500px; 
  width: 100%;
  overflow-y: scroll;
}

.scrollSuits img {
  height: 400px;
  width: 100%;
}

/* MODALBUTTON STYLES */
.modalButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modalButtonContainer h3 {
  text-align: center;
}
/* MODAL STYLES */
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 0;
  animation: appearAnim 0.5s; 
}

@keyframes appearAnim {
  from {opacity: 0;}
  to {opacity: 1;}
}

.modalBackground .modalWrapper {
  width: 90%;
  height: 50%;
  margin-top: 3em;
  background: #eee;
  z-index: 1030;
}

.modalBackground .modalWrapper .modalContent {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.modalBackground .modalWrapper .modalContent .fa-times {
  font-size: 1.5rem;
  align-self: flex-end;
  margin: 0.5em 0.5em 0 0;
}

.modalBackground .modalWrapper .modalContent .modalForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalBackground .modalWrapper .modalContent .modalForm .modalInput {
  border: 1px solid rgba(150,150,150, 1);
  margin: 0.8em 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0.2em;
  width: 80%;
}

.modalBackground .modalWrapper .modalContent .modalForm .modalInput i {
  margin: 0 0.5em;
}

.modalBackground .modalWrapper .modalContent .modalForm .modalInput input {
  border: none;
  background: transparent;
}
/* FOOTER STYLES*/
.footer {
  margin: 2em;
  border-top: 1px solid rgba(150,150,150, 1);
  display: flex;
  justify-content: center;
  padding: 1em;
}